// Core imported by default. You can also import 'animate' for predefined animations.
@import "animation/core";

@include keyframes(rotator) {
	0% {
		top:-400px;
	} 
	10% {
		top:200px;
	}
	100% {
		top:200px;
	}
}
