// Grays
// -------------------------
$black: #000;
$grayDarker: #222222;
$grayOpaque:	#cbcbcb;
$grayOpaqueDark:	#c4c4c4;
$grayDark: #585858;
$gray: #ededed;
$grayLight: #dedddd;
$grayLighter: #f0f0f0;
$white: #fff;

$cyan:#00B9E3;
$magenta:#E63587;
$orange:#FF9D00;
$green:#35E655;

// Scaffolding
// -------------------------
$bodyBackground:        #fff;
$textColor:             #333;

// Enable compass svg gradient fallback
$experimental-support-for-svg: true;

$customFont:			tk-news-gothic-std;


$customRegular:			"Open Sans", sans-serif;
$customThin: 			'RalewayThin', sans-serif;