//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222222;
$grayOpaque:			#cbcbcb;
$grayOpaqueDark:		#c4c4c4;
$grayDark:              #585858;
$gray:                  #ededed;
$grayLight:             #dedddd;
$grayLighter:           #f0f0f0;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

$cyan:#00B9E3;
$magenta:#E63587;
$orange:#FF9D00;
$green:#35E655;

// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;


// Links
// -------------------------
$linkColor:             #08c;
$linkColorHover:        darken($linkColor, 15%);
// Enable compass svg gradient fallback
$experimental-support-for-svg: true;

// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$customFont:			tk-news-gothic-std;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


$customRegular:			"Open Sans", sans-serif;
$customThin: 			'RalewayThin', sans-serif;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge: $baseFontSize * 1.25; // ~18px
$fontSizeSmall: $baseFontSize * 0.85; // ~12px
$fontSizeMini: $baseFontSize * 0.75; // ~11px

$paddingLarge: 11px 19px; // 44px
$paddingSmall: 2px 10px; // 26px
$paddingMini: 1px 6px; // 24px

$baseBorderRadius: 4px;
$borderRadiusLarge: 6px;
$borderRadiusSmall: 3px;

// Buttons
// -------------------------
$btnBackground: $white !default;
$btnBackgroundHighlight: darken($white, 10%) !default;
$btnBorder: #bbb !default;

$btnPrimaryBackground: $linkColor !default;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground: #5bc0de !default;
$btnInfoBackgroundHighlight: #2f96b4 !default;

$btnSuccessBackground: #62c462 !default;
$btnSuccessBackgroundHighlight: #51a351 !default;

$btnWarningBackground: lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight: $orange !default;

$btnDangerBackground: #ee5f5b !default;
$btnDangerBackgroundHighlight: #bd362f !default;

$btnInverseBackground: #444 !default;
$btnInverseBackgroundHighlight: $grayDarker !default;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $grayDark;

$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   red;

$dropdownLinkColorActive:       $dropdownLinkColor;
$dropdownLinkBackgroundActive:  $linkColor;



// Images paths
// -------------------------
$imagePath:					"../img/";



// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;







// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);

